body {
    background-color: #dfe1da;
}

nav {
    text-align: left;
    padding: 12px;
    background-color: #efefed;
    text-decoration: none;
}

.nav-right {
    position: absolute;
    right: 20px;
    top: 20px;
}

a {
    text-decoration: none;
    color: #1a1a73;
    background-color: transparent;
    padding: 12px;
    line-height: 2.5;
    transition: 0.2s;
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #3f6b2f;
    background-color: #c5d0c2;
    border-radius: 10px
}

.find-events {
    width: 30%;
    height: 400px;
    margin: 70px auto;
    text-align: center;
    background-color: #c5d0c2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}


.calendar {
    line-height: 2;
    background-color: #a6b1e1;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    text-align: left;
}

.create-event {
    border-radius: 10px;
    background-color: #c5d0c2;
    padding: 10px;
    margin: 20px auto;
    display: block;
    width: 500px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

label {
    display: block;
    margin-top: 1em;
}


.cart {
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

.contact {
    background-color: #e3c4a8;
    padding: 15px;
    color: #000000;
    font-family: 'Verdana', sans-serif;
    font-size: small;
}

/* Login page */

.user_card {
    width: 30%;
    margin: 20px;
    background: #ec8080;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 80%;
}

.user_card {
    width: 30%;
    margin-top: 5%;
    margin-bottom: auto;
    background: #a6b1e1;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

    #form-title {
        color: #fff;
    }


    .login_btn {
        width: 50%;
        height: 10%;
        border-radius: 7px;
        background: #809bec;
        color: white;
        padding: 15px;
        margin: 5px;
        margin-top: 40px;
    }

    .input_user,
    .input_pass:focus {
        box-shadow: none;
        outline: 0;
    }

    .form_container {
        margin-top: 20px;
        color: #8d9ad7;
    }

    #form-title {
        color: #fff;
    }


    .register {
        text-align: center;
    }


#weather-widget {
    font-family: 'Verdana', sans-serif;
    background-color: #c5d0c2;
    padding: 10px;
    margin: 20px auto;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: none;
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
}

.nav-logo {
    width: 100px;
    height: 70px;
}

h1 {
    text-align: center;
    color: #3f6b2f;
}

h2 {
    text-align: center;
    color: #3f6b2f;
}


.evnt-calendar {
    width: 85%;
    padding: 10px;
    margin: 10px;
    font-family: 'Verdana', sans-serif;
}

.buttons-btn {
    border-radius: 10px;
    background-color: #efefed;
    width: 60%;
    height: 20%;
    text-align: center;
    font-family: 'Verdana', sans-serif;
}

.find-form {
    font-family: 'Verdana', sans-serif;
    line-height: 2;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
}

.cart-btn {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Verdana', sans-serif;
}

.add-cart {
    background-color: #b8c9b5;
    width: 30%;
    margin: 20px auto;
    padding: 10px;
    height: 350px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    line-height: 2;
    border-radius: 10px;
}