body {
    background-color: #e9edff;
}

nav {
    text-align: left;
    padding: 12px;
    background-color: #77bea2;
}
.nav-right {
    position: absolute;
    right: 20px;
    top: 20px;
}
a {
    text-decoration: none;
    color: #f9f9fc;
    background-color: transparent;
    padding: 12px;
    line-height: 2.5;
    transition: 0.2s;
    margin: 0;
    font-family: 'Verdana', sans-serif;
}
a:hover {
    color: #D2E3FC;
    background-color: #4285F4;
}

.create-event {
    border-radius: 10px;
    background-color: #a3cebc;
    padding: 10px;
    margin: 10px auto;
    display: block;
    width: 350px;
}

button {
    padding: 20px;
    border-radius: 15px;
    background-color: #174EA6;
    color: #aee4fc;
    font-family: 'Verdana', sans-serif;

}


.calendar {
    line-height: 2;
    background-color: #77bea2;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 1em;
}

.find-events {
    background-color: #77bea2;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.cart {
    background-color: #77bea2;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.contact {
    background-color: #e2e2ea;
    padding: 15px;
    color: #000000;
    font-family: 'Verdana', sans-serif;
    font-size: small;
}

/* Login page */
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .user_card {
            width: 40%;
            margin-top: auto;
            margin-bottom: auto;
            background: #74cfbf;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;

        }

        .form_container {
            margin-top: 20px;
        }

        #form-title {
            color: #fff;

        }

        .login_btn {
            width: 100%;
            background: #33ccff;
            color: white;
        }

        .login_btn:focus {
            box-shadow: none;
            outline: 0px;
                }

        .login_container {
            padding: 0 2rem;
        }

        .input-group-text {
            background: #f7ba5b;
            color: white;
            border: 0;
            border-radius: 0.25rem 0 0 0.25rem ;
        }

        .input_user,
        .input_pass:focus {
            box-shadow: none;
            outline: 0px;
        }

        #messages {
            background-color: #780b0b;
            color: #679832;
            padding: 10px;
            margin-top: 10px;
        }

