<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}My To-Do App{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'all_events' %}">Events</a>

    {% if user.is_authenticated %}

        <a href="{% url 'create_event' %}">Create Event</a>
        <div class="nav-right">
            <a href="{% url 'user_cart' %} " class="split">&#129530;Cart</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</nav>
<div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div id="weather-widget">
        {% include 'weather.html' %}
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>