{% extends 'base.html' %}

<title>{% block title %}Events{% endblock %}</title>

{% block content %}

<h1>Event Calendar</h1>
<div class="calendar">
<h2>Upcoming events:</h2>
    <ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.id %}">
                {{ event.title }} - {{ event.start_date }} at {{ event.location.name }}
            </a>
        </li>
    {% empty %}
        <li>No events found for this location.</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}

