{% extends 'base.html' %}

{% block content %}
<head>
<title>{% block title %}Events{% endblock %}</title>
</head>
<body>
<h1>Events</h1>
<div id="events">
    <ul>
    {% for event in events %}
        <li>
            <a href="{% url 'event_detail' event.id %}">
                {{ event.title }} - {{ event.start_date }} at {{ event.location.name }}
            </a>
        </li>
    {% empty %}
        <li>No events found for this location.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
</body>
