f{% extends 'base.html' %}

<title>{% block title %}Add to Favorites{% endblock %}</title>

{% block content %}
    <br>
    <div class="add-cart">
        <h1>{{ event.title }}</h1>
        <br>
        {% if event.description %}
            <p><strong>Description:</strong> {{ event.description }}</p>
        {% endif %}
        <p><strong>Date:</strong> {{ event.start_date }}
            {% if event.end_date %}
                - {{ event.end_date }}
            {% endif %}
        </p>
        <p><strong>Time:</strong> {{ event.start_time }}
            {% if event.end_time %}
                - {{ event.end_time }}
            {% endif %}
        </p>
        <p><strong>Number of Participants:</strong> {{ participants }}</p>
        <p><strong>Payment Type:</strong> {{ event.get_payment_type_display }}</p>
        {% if event.payment_amount %}
            <p><strong>Payment Amount:</strong> {{ event.payment_amount }} €</p>
        {% endif %}
        <div class="picture-view">
            {% if event.image %}
                <img class="event-view-image" src="{{ event.image.url }}" alt="{{ event.title }}">
            {% endif %}
        </div>
        {% if event.video %}
            <p><strong>Video:</strong></p>
            <video controls style="max-width: 100%; height: auto; max-height: 500px; object-fit: contain;">
                <source src="{{ event.video.url }}" type="{{ event.video.file.content_type }}">
                Your browser does not support the video tag.
            </video>
        {% endif %}

        <div class="cart-btn">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_to_cart' event.id %}">
                    {% csrf_token %}
                    <br>
                    <button class="cart-btn" type="submit">&#129505; Add to Favourites</button>
                </form>
            {% else %}
                <p class="text-center mt-lg-4">
     <span class="centered-content">
    <a href="{% url 'login' %}" class="buttons-btn float-left">Log in</a>
         {% csrf_token %}
         <span class="">To add this event to your Favourites.</span>
          </span>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
