{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="find-events">
<h1>Find Events</h1>
<br>
<div class="find-form">
<form method="get" action="{% url 'all_events' %}">
    <label for="location">Choose a location:</label>
    <select name="location" id="location">
        <option value="">--Select Location--</option>
        {% for location in locations %}
            <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
    </select>

    <label for="date">Choose a date (optional):</label>
    <input type="date" name="date" id="date">
</div>

<br>
 <button class="buttons-btn" type="submit">Find Events</button>

</form>

</div>


{% endblock %}