{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="find-events">
        <h1><strong>Find events</strong></h1>
        <form method="get" action="{% url 'all_events' %}">
            <div class="option-box">
                <label for="location">Choose a location:</label>
                <br>
                <select name="location" id="location">
                    <option value="">--Select location--</option>
                    {% for location in locations %}
                        <option value="{{ location.id }}">{{ location.name }}</option>
                    {% endfor %}
                </select><br>
                <label for="date">Choose a date (optional):</label>
                <br>
                <input type="date" name="date" id="date">
                <br><br>
                <button class="buttons-btn" type="submit">Find events</button>
            </div>
        </form>
    </div>

{% endblock %}