{% extends 'base.html' %}
{% load static %}
{% block title %}Favorites{% endblock %}

{% block content %}
    <div class="cart-view">
        <h1>Your cart </h1>
        <div class="cart">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for item in cart_items %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if item.event and item.event.image %}
                                        <img class="event-image" src="{{ item.event.image.url }}"
                                             alt="{{ item.event.title }} image">
                                    {% elif item.ticketmaster_event_id and item.image_url %}
                                        <img class="event-image" src="{{ item.image_url }}"
                                             alt="{{ item.title }} image">
                                    {% else %}
                                        <img class="event-image" src="{% static 'images/logo.png' %}"
                                             alt="logo image">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-title">
                                            {% if item.event %}
                                                {{ item.event.title }}
                                            {% else %}
                                                {{ item.title }}
                                            {% endif %}
                                        </h5>
                                        <div>
                                            <strong>Date:</strong>
                                            {% if item.event %}
                                                {{ item.event.start_date }}
                                            {% else %}
                                                {{ item.start_date }}
                                            {% endif %}
                                            <br>


                                            <strong>Location:</strong>
                                            {% if item.event %}
                                                {{ item.event.location }}
                                            {% else %}
                                                {{ item.location }}
                                            {% endif %}
                                        </div>
                                        {% if item.event %}
                                            <a href="{% url 'event_view' item.event.id %}" class="buttons-btn">View
                                                Details</a>
                                        {% else %}

                                            <a href="{% url 'ticketmaster_event_detail_view' item.ticketmaster_event_id %}"
                                               class="buttons-btn">View Details</a>
                                            <a href="{{ item.ticketmaster_event_url }}" class="buttons-btn">Buy tickets
                                                here</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
